<div class="jumbotron">
        <h1>Welcome to Ritly!</h1>
        <p>With Ritly, you can easily compress the character count of your favorite website URLs!  Type/paste a URL into the Search bar.</p>
        <p>

          <%= form_tag ("/ritly/create"), method: "post" do %>
            <%= text_field_tag (:url) %>
            <%= submit_tag "Rit!", :class => "btn btn-lg btn-primary" %>
        <% end %>

        </p>
    </form>
      </div>