<div class="jumbotron">
        <div style="display: inline">
        <h1>Your new url is...</h1>
        <input type="text" value="ritly/rit/<%=@new_url%>">
        </div>
        <p>
        </br>
          <a class="btn btn-lg btn-primary" href="/ritly/show" role="button">New Rit&raquo;</a>
        </p>
    </form>
      </div>